html {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none !important;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizespeed;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    display: block;
    max-width: 100%;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}
body {
    font-family: "Poppins", sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .animation {
        animation-name: slideInDown;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        visibility: hidden;
    }
    @keyframes slideInDown {
        0% {
            transform: translateY(-100%);
            visibility: visible;
        }
        100% {
            transform: translateY(0);
            visibility: visible;
        }
    }
    .calculator__main-frame {
        text-align: center;
        max-width: 440px;
        width: 100%;
        background-color: rgb(207, 207, 207);
        border-radius: 12px;
        .calculator__screen {
            margin: 28px auto 0;
            width: 90%;
            background: rgba(255, 255, 255, 0.14);
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
                rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
                rgba(0, 0, 0, 0.07) 0px 8px 16px,
                rgba(0, 0, 0, 0.07) 0px 16px 32px,
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            h3 {
                color: rgb(179, 139, 245);
                padding: 8px 12px 8px 0;
                font-size: 42px;
                text-align: right;
            }
        }
    }
    .calculator__func-panel {
        gap: 12px;
        margin: 0 auto;
        max-width: 410px;
        width: 90%;
        .calculator__func-button {
            width: 88px;
        }
        .calculator__func-button-zero {
            width: 190px;
        }
        .calculator__func-button,
        .calculator__func-button-zero {
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
                rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
                rgba(0, 0, 0, 0.07) 0px 8px 16px,
                rgba(0, 0, 0, 0.07) 0px 16px 32px,
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
            font-size: 30px;
            height: 60px;
            border: none;
            cursor: pointer;
            border-radius: 12px;
            transition: ease-in-out 0.4s;
            &:hover {
                color: rgb(179, 139, 245);
            }
            &:active {
                transition: 0.4s;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
                    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
        }
    }
    .calculator__func-panel-bottom {
        margin-bottom: 28px;
    }
}
